<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/style.css">  <!-- Link to CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"> <!-- FontAwesome Icons -->
<style>
    .index-content {
        background-color: #a8e063; /* Light green background */
        padding: 20px; /* Add some padding for spacing */
    }
</style>
</head>
<body>
    <!-- Include Sidebar -->
    {{ template "sidebar" . }}

    <div class="index-content">
        <h1>Welcome to GO Route..</h1>
        <p>Welcome to GO Router — your all-in-one solution for smart, secure, and seamless internet sharing.

            This router interface has been designed with simplicity and efficiency in mind.
             Whether you're managing connected devices, monitoring traffic, or optimizing security,
              GO Router offers
             you the control and visibility you need from a clean and intuitive dashboard.</p>
    
    </div>

    <!-- Include Footer -->
    {{ template "footer" . }}

    <script src="/static/js/script.js" defer></script> <!-- Link to JS -->
</body>
</html>
