<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/style.css">  <!-- Link to CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"> <!-- FontAwesome Icons -->
</head>
<body>
    <!-- Include Sidebar -->
    {{ template "sidebar" . }}

    <div class="index-content">
        <h1>manual for use..</h1>
    
    </div>

    <!-- Include Footer -->
    {{ template "footer" . }}

    <script src="/static/js/script.js" defer></script> <!-- Link to JS -->
</body>
</html>
