{{ define "sidebar" }}
<div class="sidebar">
    <h2><i class="fas fa-router"></i> GO Router</h2>
    <ul>
        <li><a href="/"><i class="fas fa-house"></i>Welcome Page</a></li>
        <li><a href="/dashboard"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
        <li><a href="/Devicemanagement"><i class="fas fa-users"></i> Device Management</a></li>
        <li><a href="/overview"><i class="fas fa-chart-bar"></i> Overview</a></li>
        <li><a href="/security"><i class="fas fa-shield-alt"></i> Security</a></li>
        <li><a href="/logs"><i class="fas fa-file-alt"></i> Logs</a></li>
    </ul>
</div>
{{ end }}
